# Vivado generated
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.gen/
.Xil/

# Vivado logs/journals
*.jou
*.log
*.str

# Simulation output
xsim.dir/
*.wdb
*.vcd

# Bitstreams/checkpoints/reports
*.bit
*.bin
*.ltx
*.dcp
*.rpt
*.mcs
*.prm
*.mmi