BasedOnStyle: LLVM
Language: Cpp

# Rustfmt-inspired defaults.
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
UseTab: Never

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: None
SortIncludes: CaseSensitive
